[tool.black]
line-length = 99
target-version = ["py36", "py37", "py38", "py39"]
exclude = '''
/(
    \.git|venv|.venv
)/
'''

[tool.isort]
profile = "black"
float_to_top = true
line_length = 79
skip_glob = ".venv,venv"

[tool.poetry]
name = "pydantic-secret-decimal"
version = "0.1.2"
description = "Secret field for Decimal types in Pydantic"
repository = "https://github.com/expobrain/pydantic-secret-decimal"
authors = ["Daniele Esposti <daniele.esposti@gmail.com>"]
license = "MIT"
readme = "README.md"
# packages = [{ include = "pydantic_secret_decimal" }]


[tool.poetry.dependencies]
python = ">=3.7,<4"
pydantic = "^1.8"

[tool.poetry.dev-dependencies]
autoflake = "^1.4"
black = "^21.10b0"
isort = "^5.10.1"
mypy = "^0.910"
pdbpp = "^0.10.3"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
flake8 = "^4.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
exclude = ".venv/"
check_untyped_defs = true
disallow_incomplete_defs = true
warn_unused_configs = true
warn_unused_ignores = true
disallow_subclassing_any = true
disallow_untyped_defs = true
no_implicit_optional = true
warn_redundant_casts = true
warn_return_any = true
